<div class="box main">
  <p class="title-box">Quem você quer espiar?</p>
  <p class="text-box">Use a pesquisa acima para localizar quem você deseja espiar no Instagram.</p>
</div>
<div class="box" data-ng-repeat="user in searchCtrl.users">
  <img class="image-profile" data-ng-src="{{user.profile_picture}}" />
  <div class="user-profile">
    <b>{{user.full_name}}</b>
    <span>@{{user.username}}</span>
  </div>
  <button class="btn btn-success" data-ng-click="searchCtrl.stalkear(user.id)">Stalkear</button>
</div>