<div class="box" data-ng-if="stalkCtrl.error">
  <div data-ng-if="stalkCtrl.isPrivateMediaError()">
    <p>O usuário não possui registro ainda para ser stalkeado, aguarde e tente novamente</p>
    <button id="btnSearch" data-ng-click="stalkCtrl.back()" class="btn btn-primary">Voltar</button>
  </div>
</div>
<div class="box" data-ng-repeat="media in stalkCtrl.medias">
  <p class="title-box">Postado em           <b>25/12/2015</b>
  </p>
  <img class="image-view" data-ng-src="{{media.images.standard_resolution.url}}" />
</div>